* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'ComicSansMS';
    src: url('../fonts/ComicSansMS.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;  
}

.all-content {
    font-family: ComicSansMS;
    color: #272f2f;
    max-width: 1900px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.header{
    height: 750px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 61%;
    padding-left: 65%;
    position: relative;
}

#request {
    width: 200px;
    padding-left: 35px;
    padding-bottom: 35px;
}

.input {
    font-family: 'ComicSansMS';
    width: 240px;
    height: 30px;
    border: none;
    font-size: 11px;
    border-bottom: 2px solid #32cfb6;
}

.label {
    width: 200px;
    margin-top: 20px;
    font-size: 12px;
    color: #32cfb6;
}

.button {
    background-image: linear-gradient(to right, #fb6a4e, #ff606a);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 40px;
    margin-left: 44px;
    width: 174px;
    height: 43px;
    font-family: 'ComicSansMS';
    font-size: 14px;
    cursor: pointer;  
}

.button:hover {
    color: black; 
    transition-duration: 0.6s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.div-menu {
    display: flex;
    flex-direction: row;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 2%;
    padding-right: 26%;
}

.nav-menu li {
    padding-left: 4%;
    list-style-type: none;
    cursor: pointer;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

li a:hover {
    color: rgb(134, 133, 133);
}

.div-nav-1{
    width: 30%; 
    background-image: url(../images/bg_png/right.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 150px;
}

.div-nav-2 {
    width: 70%;
    background-image: url(../images/bg_png/1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1000px;
}

.img-boy img { 
    width: 500px;
    padding-top: 12%;
    margin-left: 21%;
    filter: drop-shadow(-11px 8px 6px rgb(110, 109, 109));
}

#requirement {
    text-align: center;
}

.all-blocks {
    margin: 0 240px;
}

.block-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}

.block {
    width: 205px;
    height: 205px;
    margin: 0 6px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07), -2.1px 2.1px 11.9px 0.1px rgba(0, 0, 0, 0.15);
}

.block img {
    width: 65%;
    margin: 15px 36px;
}

.block-image{
    height: 116px;
}

.block-image-2{
    height: 137px;
}

.block-image-3{
    height: 100px;
}

.block-image-2 img,
.block-image-3 img {
    width: 77%;
    margin: 27px 24px;
}

.block-text {
    font-size: 10px;
    padding: 1px 10px 4px 12px;
    font-weight: bold;
}

.block-text-2 {
    padding: 23px 3px 4px 5px;
}

.help-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    height: 640px;
    background-color: #1ea992;
}

.help-image {
    width: 683px;
    height: 640px;
    background-size: contain;
    background-image: url(../images/bg_png/2.png); 
    background-repeat: no-repeat;
}

#help {
    padding-top: 35px;
    color: white;
    text-align: left;
}

.help-rules {
    width: 683px;
}

.all-rules {
    padding-left: 30px;
}

.rule {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.numbers{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.rule-text {
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 10px 270px 0 25px;

}

.span {
    text-transform: none;
}

.span-2 {
    font-weight: normal;
}

.text-tab {
    padding-left: 60px;
}

.offer-main-block {
    background-image: url(../images/bg_png/left.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 30%;
    background-size: 170px;
}

#offer {
    padding: 50px 0;
}

.all-offer-blocks {
    margin: 0 210px;
}

.offer-block {
    width:250px;
    height: 250px;
    margin: 0px 30px;
}

.offer-text {
    width: 240px;
    text-transform: uppercase;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    font-style: inherit;
    font-weight: bold;
}

.offer-img {
    width: 150px;
    height: 150px;
    margin: 0px 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.offer-transition {
    background-size: 75%;
    background-position: center;
    transition: 0.5s ease;
}

.offer-block-1 {
    background-image: url(../images/offers/1.png); 
}

.offer-block-1:hover {
    background-image: url(../images/offers/hover1.png); 
    background-size: 95%;
}

.offer-block-2 {
    background-image: url(../images/offers/2.png); 
}

.offer-block-2:hover {
    background-image: url(../images/offers/hover2.png); 
    background-size: 95%;
}

.offer-block-3 {
    background-image: url(../images/offers/3.png); 

}

.offer-block-3:hover {
    background-image: url(../images/offers/hover3.png); 
    background-size: 95%;
}

.offer-block-4 {
    background-image: url(../images/offers/4.png); 
}

.offer-block-4:hover {
    background-image: url(../images/offers/hover4.png); 
    background-size: 95%;
}

.offer-block-5 {
    background-image: url(../images/offers/5.png); 
}

.offer-block-5:hover {
    background-image: url(../images/offers/hover5.png); 
    background-size: 95%;
}

.offer-block-6 {
    background-image: url(../images/offers/6.png); 
}

.offer-block-6:hover {
    background-image: url(../images/offers/hover6.png); 
    background-size: 95%;
}

.text-white {
    color: white;
}

.form-2 {
    padding-top: 15px;
    

}

.font-size-16 {
    font-size: 16px;
}

.form-2 input {
    background: none;
}

#contacts {
    padding-top: 120px;
    color: white;
}

.contact {
    padding-right: 250px;
}

.contacts-block {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.contacts-block .form {
    padding-left: 22%;
}

.footer {
    background-size: cover;
    background-image: url(../images/bg_png/3.png); 
    background-repeat: no-repeat;
    height: 1030px;
}

.touch {
    text-align: left;
    padding-top: 15px;
}

.inform {
    padding-top: 20px;
}

.inform span {
    line-height: 2;
}

.snetworks {
    display: flex;
    flex-direction: row;
}

.sotial_network {
    width:  50px;
    height: 50px;
    margin: 80px 24px 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.network-1 {
    background-image: url(../images/sotial_network/linkedin.png); 
}

.network-2 {
    background-image: url(../images/sotial_network/twitter.png); 
}

.network-3 {
    background-image: url(../images/sotial_network/fb.png); 
}

.network-1:hover {
    background-image: url(../images/sotial_network/linkedin_active.png); 
}

.network-2:hover {
    background-image: url(../images/sotial_network/twiter_active.png); 
}

.network-3:hover {
    background-image: url(../images/sotial_network/fb_active.png); 
}

.span-3 {
    color: white;
    display: flex;
    justify-content: center;
}